.contato--container {
  padding-top: 9.125rem;
}

.contato--subtitulo {
  text-align: center;
  color: var(--cinza);
  font-size: 14px;
  text-transform: uppercase;
}

.contato--titulo {
  text-align: center;
  padding-top: 19px;
  font-size: 52px;
  font-weight: 700;
  font-family: var(--fonte-Outfit);
}

.container--newsletter {
  display: flex;
  align-items: center;
  padding-top: 101px;
  justify-content: space-between;
}

.newsletter--conteudo--contato {
  display: flex;
  flex-direction: column;
  /* gap: 51px; */
  height: 318px;
  width: 57.6%;
}

.newsletter--texto {
  font-size: 18px;
  padding-bottom: 23px;
}

.newsletter--input {
  box-sizing: border-box;
  border-radius: 49px;
  width: 100%;
  padding: 24px 67px;
  border: 1px solid var(--border);
  box-shadow: var(--border) 0px 4px 16px, var(--border) 0px 8px 24px, var(--border) 0px 16px 56px;
}

.newsletter--input::placeholder {
  font-size: 20px;
  font-size: 500;
  color: var(--black);
}

.newsletter--btn {
  margin-top: 51px;
}

.newsletter--btn {
  width: 100%;
  background-color: var(--laranja);
  border: none;
  color: var(--branco);
  border-radius: 10px;
  padding: 16px 0;
  font-size: 18px;
  font-family: var(--font-Ageo);
}