.equipe--container {
  padding-top: 9.125rem;
}

.equipe--subtitulo {
  text-align: center;
  color: var(--cinza);
  font-size: 14px;
  text-transform: uppercase;
}

.equipe--titulo {
  text-align: center;
  padding-top: 19px;
  font-size: 52px;
  font-weight: 700;
  font-family: var(--fonte-Outfit);
}

.container--cards--equipe {
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
}

.card--equipe {
  width: 370px;
  height: 370px;
  box-sizing: border-box;
  padding-top: 50px;
  border: 2px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.card--equipe--img {
  width: 120px;
  height: 120px;
}

.card--equipe--nome {
  font-size: 20px;
  font-weight: 600;
  color: var(--roxo);
  padding: 28.8px 0 16.2px;
}

.card--equipe--funcao {
  font-size: 14px;
  font-weight: 700;
  color: var(--cinza);
  text-align: center;
  padding-bottom: 53px;
}

.card--equipe--social {
  height: 60px;
  border-top: 2px solid var(--border);
}

.equipe--social--container {
  display: flex;
  justify-content: space-between;
  align-self: end;
  /* width: 100%; */
  width: 370px;
  height: 60px;
  box-sizing: border-box;
}

.equipe--social--item {
  /* width: 121.33px; */
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipe--social--item:nth-child(1) {
  border-right: 2px solid var(--border);
}

.equipe--social--item:nth-child(2) {
  border-right: 2px solid var(--border);
}

.equipe--social--link i {
  font-size: 21px;
}

.equipe--social--link {
  border-top: 2px solid var(--border);
}

.equipe--social--link i {
  color: var(--cinza);
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .card--equipe {
    width: 30%;
  }

  .equipe--social--container {
    width: 28.9vw;
  }

  .equipe--social--item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .equipe--container {
    padding-top: 5rem;
  }

  .card--equipe {
    width: 32vw;
  }

  .equipe--social--container {
    width: 32vw;
  }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .equipe--container {
    padding-top: 5rem;
  }

  .card--equipe {
    width: 32vw;
  }

  .equipe--social--container {
    width: 32vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .equipe--container {
    padding-top: 4rem;
  }

  .container--cards--equipe {
    flex-direction: column;
    gap: 2rem;
  }

  .card--equipe {
    /* width: 50vw;
    margin: 0 auto;
    max-width: 260px; */
    width: 60vw;
    margin: 0 auto;
    max-width: 294px;
  }

  .equipe--social--container {
    width: 60vw;
    max-width: 294px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .equipe--container {
    padding-top: 5rem;
  }

  .container--cards--equipe {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
  }

  .equipe--titulo {
    font-size: 32px;
  }

  .card--equipe {
    width: 80%;
    padding-top: 2rem;
    height: auto;
  }

  .card--equipe--nome {
    padding: 1rem 0 .8rem;
  }

  .card--equipe--social {
    width: 80%;
  }

  .card--equipe--funcao {
    padding-bottom: 1rem;
  }

  .equipe--social--container {
    width: 80%;
  }


}