.container--home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--home--descricao {
  width: 42%;
  display: flex;
  flex-direction: column;
  /* gap: 74px; */
  gap: 20px;
}

.home--descricao-titulo {
  font-size: 70px;
  font-family: var(--fonte-Sofadi);
  font-weight: 900;
  box-sizing: border-box;
  height: 210px;
}

.home--descricao-titulo span {
  background-color: var(--black);
  display: block;
  height: 5px;
  width: 30px;
}

.home--descricao-texto {
  font-size: 17px;
  padding: 1rem 0 4.125rem;
}

.btn--container {
  display: flex;
  gap: 28px;
}

.btn--descricao {
  border: none;
  background-color: var(--branco);
}

.destaque {
  border: none;
  color: var(--branco);
  background-color: var(--laranja);
  padding: 12px 34px;
  border-radius: 10px;
  font-size: 18px;
  font-family: var(--fonte-Outfit);
}

.video {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn--descricao--container {
  display: flex;
  align-items: center;
  width: 50px;
}

/* .descricao--container--circle {
    position: relative;
} */

.descricao--container--play {
  position: relative;
  left: -20px;
}

.btn--descricao--texto {
  font-weight: 700;
  font-size: 18px;
}

.container--home--img {
  position: relative;
}

.home--img--lampada {
  position: absolute;
  top: 174px;
  left: -42px;
  animation: floathome 3s ease-in-out infinite;
}

.home--img--seta {
  position: absolute;
  top: 80px;
  left: 370px;
  transform: rotate(-14.84deg);
  animation: floathome 3s ease-in-out infinite;
}

.home--img--box {
  position: absolute;
  z-index: -1;
  top: 60px;
  left: -77px;
  width: 334px;
  display: flex;
  padding: 1rem;
  gap: 12px;
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
  box-shadow: 0px 25px 40px -7px rgba(0, 0, 0, 0.2),
    25px 0px 40px -7px rgba(0, 0, 0, 0.2),
    -25px 0px 40px -7px rgba(0, 0, 0, 0.2);
  animation: floathome 3s ease-in-out infinite;
}

@keyframes floathome {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.img--box--icone {
  width: 2.5rem;
  height: 2.5rem;
}

.img--box--descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.img--box--texto {
  font-size: 12px;
  font-weight: 700;
}

.box--avaliacoes--texto {
  font-size: 12px;
}

.box--reduzida {
  position: absolute;
  z-index: -1;
  top: 452px;
  left: -154px;
  width: 334px;
  display: flex;
  padding: 1rem;
  gap: 12px;
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
  box-shadow: 0px 25px 40px -7px rgba(0, 0, 0, 0.2),
    25px 0px 40px -7px rgba(0, 0, 0, 0.2),
    -25px 0px 40px -7px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .home--img--imagem {
    width: 450px;
  }

  .home--descricao-titulo {
    height: auto;
    font-size: 65px;
  }

  .home--img--box {
    padding: 0.5rem;
    top: 43px;
    left: -101px;
  }

  .box--reduzida {
    top: 370px;
    left: -154px;
    width: 290px;
  }

  .home--img--lampada {
    top: 155px;
    left: -96px;
  }

  .home--img--seta {
    width: 157px;
    left: 288px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home--descricao-titulo {
    font-size: 36px;
    height: auto;
  }

  .home--descricao-texto {
    padding-bottom: 1rem;
  }

  .home--img--imagem {
    width: 350px;
  }

  .btn--container {
    gap: 16px;
  }

  .destaque {
    padding: 8px 16px;
    font-size: 14px;
    /* width: 50%; */
    white-space: nowrap;
  }

  .video {
    gap: 8px;
    white-space: nowrap;
  }

  .home--img--lampada {
    width: 150px;
    top: 112px;
    left: -19px;
  }

  .home--img--seta {
    width: 100px;
    left: 240px;
  }

  .home--img--box {
    top: 34px;
    left: -85px;
    padding: 8px;
    gap: 8px;
    width: 220.75px;
  }

  .img--box--icone {
    display: none;
  }

  .box--reduzida {
    top: 250px;
    left: -134px;
    width: 180.75px;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .home--descricao-titulo {
    font-size: 36px;
    height: auto;
  }

  .home--descricao-texto {
    padding-bottom: 1rem;
  }

  .home--img--imagem {
    width: 300px;
  }

  .btn--container {
    gap: 16px;
  }

  .destaque {
    padding: 8px 16px;
    font-size: 14px;
    /* width: 50%; */
    white-space: nowrap;
  }

  .video {
    gap: 8px;
    white-space: nowrap;
  }

  .home--img--lampada {
    width: 150px;
    top: 112px;
    left: -19px;
  }

  .home--img--seta {
    width: 100px;
    left: 204px;
  }

  .home--img--box {
    display: none;
    top: 34px;
    left: -85px;
    padding: 8px;
    gap: 8px;
    width: 220.75px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .container--home {
    flex-direction: column;
    gap: 2rem;
  }

  .container--home--descricao {
    width: 100%;
  }

  .home--descricao-titulo {
    font-size: 36px;
    height: 72px;
  }

  .home--descricao-texto {
    padding-bottom: 1rem;
  }

  .home--img--imagem {
    width: 300px;
  }

  .btn--container {
    gap: 16px;
  }

  .container--home--img {
    align-self: flex-end;
  }

  .destaque {
    padding: 8px 16px;
    font-size: 14px;
    /* width: 50%; */
    white-space: nowrap;
  }

  .video {
    gap: 8px;
    white-space: nowrap;
  }

  .home--img--lampada {
    width: 150px;
    top: 112px;
    left: -19px;
  }

  .home--img--seta {
    width: 100px;
    left: 204px;
  }

  .home--img--box {
    /* display: none; */
    top: 34px;
    left: -105px;
    padding: 8px;
    gap: 8px;
    width: 220.75px;
  }

  .box--reduzida {
    top: 240px;
    left: -164px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container--home {
    flex-direction: column;
    gap: 2rem;
  }

  .container--home--descricao {
    width: 100%;
  }

  .home--descricao-titulo {
    font-size: 36px;
    height: 112px;
  }

  .home--descricao-texto {
    padding-bottom: 1rem;
  }

  .home--img--imagem {
    /* width: 300px; */
    width: 70%;
    align-self: flex-end;
    padding-left: 30%;
  }

  .btn--container {
    flex-direction: column;
    gap: 16px;
  }

  .container--home--img {
    align-self: flex-end;
    width: 100%;
    
  }

  .destaque {
    padding: 8px 16px;
    font-size: 14px;
    /* width: 50%; */
    white-space: nowrap;
  }

  .video {
    gap: 8px;
    white-space: nowrap;
  }

  .home--img--lampada {
    display: none;
  }

  .home--img--seta {
    width: 80px;
    left: 234px;
    top: 36px;
  }

  .home--img--box {
    /* display: none; */
    top: 34px;
    left: 12px;
    padding: 8px;
    gap: 8px;
    width: 148.75px;
    z-index: 10;
  }

  .img--box--icone {
    display: none;
  }

  .img--box--avaliacoes {
    display: none;
  }

  .box--reduzida {
    top: 142px;
    left: 2px;
    width: 120px;
  }
}