@import url("header.css");
@import url("homeSection.css");
@import url("servicos.css");
@import url("propaganda.css");
@import url("clientes.css");
@import url("equipe.css");
@import url("contato.css");
@import url("rodape.css");

:root {
  --font-Ageo: "Ageo, sans-serif";
  --fonte-Poppins: "Poppins", sans-serif;
  --fonte-Outfit: "Outfit", sans-serif;
  --fonte-Sofadi: "Sofadi One", sans-serif;
  --laranja: #ff6600;
  --black-titulo: #0b1b35;
  --black: #000000;
  --branco: #ffffff;
  --cinza: rgba(21, 20, 57, 40%);
  --roxo: #1e0e62;
  --amarelo: #febb43;
  --cinza: #8a898e;
  --border: #ebeaed;
}

body {
  padding: 0 9.375%;
  font-family: var(--fonte-Poppins);
}

main {
  padding-top: 7.125rem;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  body {
    padding: 0 1.375%;
    /* padding: 0 9.375%; */
  }

  main {
    padding-top: 3.125rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0 1.375%;
  }

  main {
    padding-top: 3.125rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    padding: 0 1.375%;
  }

  main {
    padding-top: 3.125rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  body {
    padding: 0 1.375%;
  }

  main {
    padding-top: 1rem;
  }
}
